.timeline {
  position: relative;
  margin: 3rem 0;
  padding-left: 30px;
  border-left: 2px solid #865db6;
}

.timeline-item {
  position: relative;
  margin-bottom: 2rem;
  cursor: pointer;
}

.timeline-dot {
  position: absolute;
  left: -9px;
  top: 6px;
  width: 14px;
  height: 14px;
  background-color: #865db6;
  border-radius: 50%;
}

.timeline-content {
  padding-left: 20px;
}

.timeline-content h3 {
  margin: 0;
  font-size: 1.4rem;
}

.timeline-item.active h3 {
  color: #865db6;
}

.company {
  font-weight: 500;
  opacity: 0.9;
}

.dates {
  font-size: 0.85rem;
  opacity: 0.7;
}


.timeline-description {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.3s ease;
  opacity: 0;
}


.timeline-item.active .timeline-description {
  max-height: 200px;
  opacity: 1;
  margin-top: 0.5rem;
}

.timeline-description p {
  font-size: 0.95rem;
  line-height: 1.5;
  margin: 0;
}

.cv-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.cv-button {
  padding: 0.75rem 1.8rem;
  border-radius: 999px;
  border: 1px solid #865db6;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  background: transparent;
}

.cv-button:hover {
  background-color: #865db6;
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(134, 93, 182, 0.4);
}