.stars {
  position: fixed;
  inset: 0;
  z-index: -1;
  background: #170130; /* dark night sky */
  overflow: hidden;
}


.stars-layer {
  position: absolute;
  inset: 0;
  background-image:
    radial-gradient(1px 1px at 20% 30%, white, transparent),
    radial-gradient(1px 1px at 80% 40%, white, transparent),
    radial-gradient(1px 1px at 50% 80%, white, transparent),
    radial-gradient(1px 1px at 70% 10%, white, transparent),
    radial-gradient(1px 1px at 10% 60%, white, transparent);
  background-repeat: repeat;
  background-size: 200px 200px;
  animation: moveStars 60s linear infinite;
  opacity: 1;
}


.stars-layer-2 {
  background-size: 300px 300px;
  animation-duration: 120s;
  opacity: 0.5;
}


.stars-layer-3 {
  background-size: 150px 150px;
  animation-duration: 40s;
  opacity: 0.7;
}

@keyframes moveStars {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-1000px);
  }
}
